@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

$dark-color: #272727;
$gray-color-1: #212529;
$gray-color-2: #ADB5BD;
$gray-color-3: #DEE2E6;
$primary-color: #25A2B8;

body {
  background-color: $dark-color;
}

.bg-dark {
  background-color: $dark-color !important;
}

.card-header {
  background-color: $gray-color-1 !important;
}

.card-footer {
  background-color: $gray-color-3;
}

.primary {
  color: $primary-color !important;
}