.fildDescription {
  border-radius: 1rem;
  border-color: #3333;
  width: 100px;
  height: 15px;
  margin: 1vw;
  height: 3vh;
  padding: 0.5vw;
  font-size: 2vh;
  text-align: center;
  outline: none;
  box-shadow: 0 0 10px 1px #3333;
}
.error {
  color: red;
  font-size: 0.75rem;
}
